In [1]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [1]:
# simple list of literal values
numbers = [1, 3, 5, 4, 2, 6, 7, 9, 8]

print(numbers)

[1, 3, 5, 4, 2, 6, 7, 9, 8]

In [6]:
# we sort it by ascending
numbers_asc = sorted(numbers)
print(numbers_asc)

# we can sort it by descending
numbers_desc = sorted(numbers, reverse=True)
print(numbers_desc)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [7]:
# can also sort strings
movies = ['Avatar', 'Transformers', 'Star Wars', 'Spider Man', 'Captain America']

sorted(movies)

['Avatar', 'Captain America', 'Spider Man', 'Star Wars', 'Transformers']

In [9]:
# list of tuples of movies and its rating
movie_ratings = [('Avatar', 4.5), ('Transformers', 4.3), ('Star Wars', 4.6), ('Spider Man', 4.1), ('Captain America', 4.0)]

print(movie_ratings)

[('Avatar', 4.5), ('Transformers', 4.3), ('Star Wars', 4.6), ('Spider Man', 4.1), ('Captain America', 4.0)]

In [10]:
# sort movie rating list by movie titles
sorted(movie_ratings,  key=lambda x : x[0])

[('Avatar', 4.5),
 ('Captain America', 4.0),
 ('Spider Man', 4.1),
 ('Star Wars', 4.6),
 ('Transformers', 4.3)]

In [12]:
# sort by movie rating where higer rating goes first
sorted(movie_ratings, key=lambda x: x[1], reverse=True)

[('Star Wars', 4.6),
 ('Avatar', 4.5),
 ('Transformers', 4.3),
 ('Spider Man', 4.1),
 ('Captain America', 4.0)]

In [15]:
# list of dictionaries of movies
movies = [
    {'title': 'Avatar', 'cost': 100, 'revenue': 300},
    {'title': 'Transformers', 'cost': 150, 'revenue': 250},
    {'title': 'Star Wars', 'cost': 125, 'revenue': 350},
    {'title': 'Spider Man', 'cost': 200, 'revenue': 370},
    {'title': 'Captain America', 'cost': 250, 'revenue': 400}
]

print(movies)

[{'title': 'Avatar', 'cost': 100, 'revenue': 300}, {'title': 'Transformers', 'cost': 150, 'revenue': 250}, {'title': 'Star Wars', 'cost': 125, 'revenue': 350}, {'title': 'Spider Man', 'cost': 200, 'revenue': 370}, {'title': 'Captain America', 'cost': 250, 'revenue': 400}]

In [17]:
# get a list of movie titles taht have revenue from highest to lowest
[movie['title'] for movie in sorted(movies, key=lambda x : x['revenue'], reverse=True)]

['Captain America', 'Spider Man', 'Star Wars', 'Avatar', 'Transformers']

In [21]:
# get the movie that has lowest cost and show its cost
[(movie['title'], movie['cost']) for movie in sorted(movies, key=lambda x : x['cost'])][0]

('Avatar', 100)