In [1]:
# map function is usually used to transform one or more Iterables into one

In [2]:
l = [1, 2, 3, 4, 5]

list(map(lambda x : x**2, l))

[1, 4, 9, 16, 25]

In [3]:
l1 = [1, 2, 3, 4, 5, 6]
l2 = [10, 11, 12, 13]

list(map(lambda a, b : a + b, l1, l2))

[11, 13, 15, 17]

In [4]:
# filter function is usually used to filter (select items) an Iterable to create a smaller Iterable

In [5]:
l = [0, 1, 2, 3, 4, 5]

list(filter(None, l))

[1, 2, 3, 4, 5]

In [6]:
list(filter(lambda x : x % 2 == 0, l))

[0, 2, 4]

In [7]:
# zip function is used to combine the iterables into one
l1 = [1, 2, 3, 4, 5, 6]
l2 = [10, 11, 12, 13]

list(zip(l1, l2))

[(1, 10), (2, 11), (3, 12), (4, 13)]

In [10]:
s = 'Hello World!'
list(zip(range(len(s)), s))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'W'),
 (7, 'o'),
 (8, 'r'),
 (9, 'l'),
 (10, 'd'),
 (11, '!')]

In [9]:
# list comprehension
# create a list from a list
l = [1, 2, 3, 4, 5, 6, 7, 8]

[x for x in l]

[1, 2, 3, 4, 5, 6, 7, 8]

In [10]:
[x**2 for x in l]

[1, 4, 9, 16, 25, 36, 49, 64]

In [11]:
[x if x % 2 == 0 else 0 for x in l]

[0, 2, 0, 4, 0, 6, 0, 8]

In [12]:
[x for x in l if x % 2 == 0]

[2, 4, 6, 8]

In [13]:
l1 = [1, 2, 3, 4, 5, 6]
l2 = ['a', 'b', 'c', 'd', 'e', 'f']

[x*y for x, y in zip(l1, l2)]

['a', 'bb', 'ccc', 'dddd', 'eeeee', 'ffffff']

In [14]:
l1 = [1, 2, 3, 4, 5, 6]
l2 = [100, 200, 300, 400, 500, 600]

[x+y for x, y in zip(l1, l2)]

[101, 202, 303, 404, 505, 606]