In [4]:
# create a dict using curly braket syntax
# keys can be any hashable object, e.g. keys can be numbers
d = {1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}
d

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five'}

In [6]:
# keys can be strings which is the most common
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [7]:
# Some types of objects can't be dictionary keys, normally mutable object can't be keys
# for example, lists can't be keys
d = {[1]: 1, [2]: 2, [3]: 3}
d

TypeError: unhashable type: 'list'

In [8]:
# tuples are good to be used as key because tuples are immutable
d = {(1, 2): 'First point', (0, 1): 'Second point', (2, 2): 'Third point'}
d

{(1, 2): 'First point', (0, 1): 'Second point', (2, 2): 'Third point'}

In [15]:
# create a dict using dict() function
# this only work for cases where keys are string
d = dict(one=1, two=2, three=3)
d

{'one': 1, 'two': 2, 'three': 3}

In [18]:
# add new item to dict
d['four'] = 4
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [19]:
# Replace an item in dict
d['four'] = '4 has been replaced'
d

{'one': 1, 'two': 2, 'three': 3, 'four': '4 has been replaced'}

In [20]:
# Access a value from key
d['four']

'4 has been replaced'

In [21]:
# If key not exist will get exception
d['five']

KeyError: 'five'

In [23]:
# To avoid key error like this, we can use get() method
d.get('four')

'4 has been replaced'

In [22]:
# we can provide a default value when use get() method
d.get('five', 'Not found')

'Not found'

In [24]:
# loop and print all keys
for key in d.keys():
    print(key)

one
two
three
four

In [25]:
# loop and print all values
for value in d.values():
    print(value)

1
2
3
4 has been replaced

In [26]:
# print all key/value as tuples
for item in d.items():
    print(item)

('one', 1)
('two', 2)
('three', 3)
('four', '4 has been replaced')

In [27]:
# unpack while looping
for k, v in d.items():
    print(k, v)

one 1
two 2
three 3
four 4 has been replaced

In [28]:
# len of dict
len(d)

4

In [11]:
# empty the dict
d.clear()
d

{}

In [14]:
# remove an item from dict
del d[5]
d

{1: 'One', 2: 'Two', 3: 'Three', 4: 'Four'}

In [15]:
# remove and return the value
v = d.pop(1)
v

'One'

In [16]:
# remove the last inserted item 
i = d.popitem()
i

(4, 'Four')

In [23]:
# update a dict
d1 = {1: 1, 2: 2, 3: 3}
d2 = {1: 11, 4: 44}
d1.update(d2)
d1

{1: 11, 2: 2, 3: 3, 4: 44}

In [24]:
# unpack dict
d3 = {**d1, **d2}
d3

{1: 11, 2: 2, 3: 3, 4: 44}